# Core Verification

Deprecated, please see [light-client/verification](https://github.com/depinnetwork/por-consensus/blob/main/spec/light-client/verification).
